#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

#bgabout {
  background-image: url("/new/bgabout.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  background-image: url("/image/newlifeport.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#content1 {
  background-image: url("/image/healthy.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

#content2 {
  background-image: url("/image/food.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

#content3 {
  background-image: url("/image/sport.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

#content4 {
  background-image: url("/image/fashion.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#imagenews {
  background-image: url("/image/newshealthy.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#sportnews1 {
  background-image: url("/image/sportnews1.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#newshealthy {
  background-image: url("/image/headlinenews1.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#news2 {
  background-image: url("/image/headlinenews2.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#news3 {
  background-image: url("/image/headlinenews3.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#news4 {
  background-image: url("/image/newssports2.png");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#news5 {
  background-image: url("/image/headlinenews5.png");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#sportnews2 {
  background-image: url("/image/newssport1.jpg");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}

#newsheadlinesport2 {
  background-image: url("/image/newssports2.png");
  background-repeat: no-repeat; /* Gambar tidak akan berulang */
  background-position: center;
  background-size: cover;
}
